target/
*.class
*.jar
*.log
dev/velocity/velocity.jar
dev/velocity/plugins/
dev/velocity/logs/
dev/velocity/forwarding.secret
dev/goliath-*/server.jar
dev/goliath-*/plugins/
dev/goliath-*/logs/
dev/goliath-*/world*/
dev/goliath-*/cache/
dev/goliath-*/config/
dev/goliath-*/eula.txt
dev/goliath-*/server.properties
dev/goliath-*/*.pid
*.pid
.idea/
*.iml
.settings/
.classpath
.project
